<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RubikSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RubikSwiftCLI.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RubikSwiftCLIBundle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RubikSwiftTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Rubiks Cube Genetics Solver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF0F334C1DC41C6E00974B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9E08D01DC51E4E001C0946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9E08EB1DC7C70C001C0946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9E08FC1DC7C8C9001C0946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFE194CB1DC3C5AB00DB3DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFE194D41DC3C5AB00DB3DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
